.StyledBackButton {
    background: url(ui/backButton_white.png) center center no-repeat;
    background-size: 44%;    
    height: 3.5em;
    width: 3.5em;
    box-sizing: border-box;
    user-select: none;
    position: absolute;
    z-index: 100000;
    margin-left: 2em;
    margin-top: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(53, 219, 255, 0.39);
    -webkit-user-select : none;
    user-select : none;
}

.StyledBackButton:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    opacity: 1.0;
    cursor: pointer;
    background: url(ui/backButton_white.png) center center no-repeat;
    background-size: 45% 55%;
}