.SideMenu {
    position: absolute; 
    display: flex;
    flex-direction: column;
    left: 2em;  
    top: 7em;
    bottom: auto;
    height: auto;
    max-height: 80vh;
    border-radius : 5px;
    box-sizing : border-box;
    /* From https://css.glass */
    background: rgba(53, 219, 255, 0.29);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(4.5px);
    backdrop-filter: blur(4.5px);
    border: 1px solid rgba(53, 219, 255, 0.39);
    -webkit-user-select : none;
    user-select: none;
    width:fit-content;
}

.LineDivision {
    border: 1px solid #3A7484;
    width: 98%;
    opacity: 0.5;
    margin-bottom: 0;
    margin-top: 0;
}

.MenuImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    -webkit-user-select : none;
    user-select: none;
    text-align: center;
    cursor:pointer;
    border-right: '';
    margin:auto;
    src: '';
    width:fit-content;
}

.MenuImg:hover {
    opacity: 1;
    background-color: aqua;
}

.MenuOption {
    margin: .1em;
}

.MenuOptionSelected {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    -webkit-user-select : none;
    text-align: center;
    cursor:pointer;
    border-right: '';
    margin:auto;
    src: '';
    background-color: aqua;}

.MenuImgActive {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    -webkit-user-select : none;
    text-align: center;
    cursor:pointer;
    border-right: '';
    margin:auto;
    src: '';
    background-color: aqua;
}

.ShuffleOption {
    border-right: '';
    opacity: 1;
    height: 5em;
    width: 5em;
    padding: .1em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.MenuTitle {
    display: inline-block;
    text-align: center;
    height: 3.5em;
    width: 5em;
    text-align: center;
    margin: 0 auto .25em auto;
    user-select: none;
}
